# Ignore build files
build/
lib/
bin/
# Ignore generated documentation
docs/generated
# Ignore temporary engine files
data/temp/
data/cache/
# Ignore QT Creator autosave files
*.ui.autosave
# Ignore core dumps
core.*